import style from './{{name}}.module.css'

export interface {{pascalCase name}}Props {}

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
    return(
        <div className={style.{{name}} }>
        </div>
    )
}

export default {{pascalCase name}}
